	.main{
		margin: auto;
		text-align: center;
		padding-top: 340px;
	}
	
	
	#main_btn{
		border-style: none;
		background-color: #000000;
		color:white;
		font-weight: bold;
		font-size:11pt;
		width: 140px;
		height: 30px;
		border-radius: 8px;
	}
	
	#main_btn:hover{
		border:2px solid  #000000;
		background-color: #828282;
		color:white;
		font-weight: bold;
		font-size:11pt;
		width: 140px;
		height: 30px;
		border-radius: 8px;
	}