<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="footer" th:fragment="footer" style="height: 100px;">
     <div class="container">
		  <footer>
		    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
		      <li class="nav-item"></li>
		      <li class="nav-item"></li>
		      <li class="nav-item"></li>
		      <li class="nav-item"></li>
		    </ul>
		    <p class="text-center text-muted">© 2022  EQM-RentalProject Inc</p>
		  </footer>
	</div>
</div>

</html>