<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header">
		<header class="p-3 mb-3 border-bottom">
	    <div class="container">
	      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
	
	        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" style="float: left;">
	          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
	        </form>
			
			 <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"> </ul>
			
	        <div class="dropdown text-end">
	          <button type="button" class="btn btn-outline-primary me-2" onclick="location.href='/member/loginView'">로그인</button>
			  <button type="button" class="btn btn-primary" onclick="location.href='/member/joinType'">회원가입</button>
			  <div style="display: none;">
		          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" >
		            <img th:src="@{/common/img/icon/member.png}" alt="mdo" width="32" height="32" class="rounded-circle">
		             <strong>전준표 님</strong>
		          </a>
	          </div>
	          <ul class="dropdown-menu text-small">
	            <li><a class="dropdown-item" href="#">마이페이지</a></li>
	            <li><a class="dropdown-item" href="#">포인트 사용내역</a></li>
	            <li><a class="dropdown-item" href="#">포인트 충전</a></li>
d	            <li><a class="dropdown-item" href="#">로그아웃</a></li>
	          </ul>
	        </div>
	      </div>
	    </div>
	  </header>
</div>
</html>